@import "./tailwind-config.css";

@layer base {
  * {
    border-color: hsl(var(--color-border));
  }

  body {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-foreground));
    font-family: var(--font-family-sans);
  }
}
