name = "leaselab-worker"
compatibility_date = "2024-11-01"
compatibility_flags = ["nodejs_compat"]

# Workers configuration
main = "worker.ts"
type = "javascript"

# Environment variables
[vars]
R2_PUBLIC_URL = "https://pub-08cf33d3a3ab49bda744210087b16bae.r2.dev"

# Bindings (same as ops)
[[d1_databases]]
binding = "DB"
database_name = "leaselab-db"
database_id = "850dc940-1021-4c48-8d40-0f18992424ac"

# Public bucket for property images, etc.
[[r2_buckets]]
binding = "PUBLIC_BUCKET"
bucket_name = "leaselab-pub"

# Private bucket for applications, leases, N11s, etc.
[[r2_buckets]]
binding = "PRIVATE_BUCKET"
bucket_name = "leaselab-pri"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1
