@import "./tailwind-config.css";

@layer base {
  * {
    border-color: hsl(var(--color-border));
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
  }

  body {
    background-color: hsl(var(--color-background));
    color: hsl(var(--color-foreground));
    font-family: var(--font-family-sans);
  }
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
